* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

:root {
    --white-color: white;
    --blue-color: rgb(40, 159, 228);
    --gray-color: rgb(216, 222, 224);
    --darker-gray-color: rgb(184, 188, 190); 
    --gold-color: rgb(255, 208, 0);
    --skyblue-color: rgb(205, 224, 235);
    --darkgray-color: gray;
    --pink-color: pink;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    margin: 0;
}

sidebar {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: bold;
    width: 20vw;
}

#sidebar-menu {
    margin: 2vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

sidebar heading {
    font-size: min(2vw, 30px);
    display: flex;
    align-items: center;
    gap: 1vw;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

sidebar li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2vw; 
    font-size: min(3vmin, 25px);
}

#large-icon {
    height: 3vw;
    width: auto;
}

sidebar li img {
    height: 4vh;
    width: auto;
}

main {
    height: 100vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: var(--gray-color);
}

hero,
.card-section,
.aside-container {
    background-color: var(--white-color);
}

#search {
    background-color: var(--gray-color);
}

hero {
    display: grid;
    grid-template-rows: 7vh 11vh;
    padding: 0;
}

#top-hero,
#bottom-hero, 
#searchbar,
#notification-bar,
#greeting,
#navbar {
    display: flex;
    flex-direction: row;
}

#top-hero,
#bottom-hero {
    justify-content: space-between;
}

#top-hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 14vw;
}

#searchbar {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    font-size: 12px;
    gap: 15px;
    margin-top: 2vh;
}

#search {
    border-radius: 50px;
    height: 5vh;
    width: 40vw;
    border: none;
}

#searchbar img{
    height: 25px;
}

.bell img {
    height: 20px;
}

.logo {
    border-radius: 100%;
}

.small-logo {
    height: 7vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-logo {
    background-color: var(--gold-color);
}

.blue-logo {
    background-color: var(--skyblue-color);
}

.gray-logo {
    background-color: var(--darkgray-color);
}

.pink-logo {
    background-color: var(--pink-color);
}

#notification-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    font-size: 12px;
    height: 5vh;
    gap: 35px;
    margin-top: 2vh;
}

#bottom-hero {
    display: flex;
    align-items: center;
}

#greeting {
    height: 10vh;
    margin-left: 2vw;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

#greeting p {
    margin-top: 10px;
}

.large-logo {
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#large-id h1 {
    font-size: 25px;
    margin-top: 5px;
}

#small-id {
    font-weight: bold;
    font-size: 14px;
}

#navbar {
    height: 8vh;
    width: 25vw;
    justify-content: space-around;
    align-items: center;
    margin-right: 2vw;
}

#navbar button {
    height: 30px;
    width: 80px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
}

#container {
    display: flex;
    gap: 15px;
    margin: 0 15px;
    height: 76vh;
}

#card-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1vw;
    height: 70vh;
    width: 55vw;
}

.card-section {
    border-radius: 10px;
    box-shadow: 4px 4px var(--darker-gray-color);
    height: 18vh;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    border-left: solid var(--gold-color) 8px;
}

.action-btns {
    display: flex;
    justify-self: end;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    height: 6vh;
    gap: 5px;
}

.action-btns button {
    background-color: var(--white-color);
    color: black;
    padding: 5px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.action-btns img {
    height: 4vh;
}

.card-section p {
    margin: 5px 0;
    flex-grow: 1;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76vh;
    width: 20vw;
}

.aside-container {
    padding: 1vw 1vw;
    border-radius: 10px;
    box-shadow: 4px 4px var(--darker-gray-color);
}

.announcement-card {
    padding: 0 0 1vw 0;
    border-bottom: solid var(--darker-gray-color) 2px;
}

#announcement-container > :last-child{
    border: none;
    padding: 0;
}

#trending {
    width: 20vw;
}

#trending-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0 0;
}

.trending-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding: 5px 1vw;
}

.trending-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-logo img {
    height: 5vh;
}

article h1,
aside h1 {
    margin: 3vh 0 1vh 0;
    font-size: 20px;
}

aside p {
    font-size: 12px;
}

h2 {
    font-size: 18px;
}

h3 {
    margin: 5px 0;
    font-size: 16px;
}

h4 {
    font-size: 14px;
}